{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<a href="{% url 'registro' %}">No tienes cuenta? Regístrate</a>
  <div class="row g-4"> 
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut dolore amet similique quia suscipit fugit reiciendis optio cupiditate quidem odio provident corrupti architecto, sint fugiat voluptatum consectetur consequuntur, tempore iure?</div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 ">
      <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut dolore amet similique quia suscipit fugit reiciendis optio cupiditate quidem odio provident corrupti architecto, sint fugiat voluptatum consectetur consequuntur, tempore iure?</div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut dolore amet similique quia suscipit fugit reiciendis optio cupiditate quidem odio provident corrupti architecto, sint fugiat voluptatum consectetur consequuntur, tempore iure?</div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut dolore amet similique quia suscipit fugit reiciendis optio cupiditate quidem odio provident corrupti architecto, sint fugiat voluptatum consectetur consequuntur, tempore iure?</div>
    </div>
  </div>  

  <div class="row g-4 mt-4">
    <div class="col-12 col-md-6">
      <div class="card ">
         <form class="ms-3 mt-3" >
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-6 ">
      <div class="card">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut dolore amet similique quia suscipit fugit reiciendis optio cupiditate quidem odio provident corrupti architecto, sint fugiat voluptatum consectetur consequuntur, tempore iure?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut natus veniam perferendis eaque nesciunt omnis voluptatem cum laborum eius nostrum, quisquam, accusantium commodi eos necessitatibus ad! Aperiam aliquam quaerat quia!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi repellat quod, placeat provident corporis cum nobis culpa, molestias ut reiciendis sit praesentium, saepe ipsam harum repudiandae reprehenderit corrupti molestiae minus!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat ad delectus sunt quia, distinctio dolorem aut assumenda ea. Eum ex tempore adipisci neque, laudantium sed recusandae sunt magni totam sint.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque hic temporibus nihil neque quae, ex porro, eum eaque deserunt, tempora quidem dolor itaque facilis molestias aperiam maiores repellendus perferendis explicabo!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem magnam velit consectetur consequuntur doloremque voluptates ad minima at fugiat esse est, aliquid, maiores sit laborum itaque reprehenderit, earum aut nulla?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem magnam velit consectetur consequuntur doloremque voluptates ad minima at fugiat esse est, aliquid, maiores sit laborum itaque reprehenderit, earum aut nulla?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem magnam velit consectetur consequuntur doloremque voluptates ad minima at fugiat esse est, aliquid, maiores sit laborum itaque reprehenderit, earum aut nulla?
        sLorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem magnam velit consectetur consequuntur doloremque voluptates ad minima at fugiat esse est, aliquid, maiores sit laborum itaque reprehenderit, earum aut nulla?
      </div>
    </div>
  </div>  
  

{% endblock %}