{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/flatly/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">

<body>

<div class="cuadro">
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="correo_login" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="correo_login" name="correo" required>
        </div>

        <div class="mb-3">
            <label for="contrasena_login" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="contrasena_login" name="contrasena" required>
        </div>
        <div class="mt-3 text-center">
      
        </div>
            <button type="submit" class="btn btn-gradiente w-100">Ingresar</button>
    </form>
    
    <div class="mt-3 text-center">
        <a href="{% url 'registro' %}">¿No tienes cuenta?</a>
    </div>
</div>

</body>




