{% extends "base.html" %}
{% load static %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/perfil' %}">

<div class="perfil-card">
  <!-- Foto y nombre -->
  <img src="{% static 'Icon/gente.gif' %}" alt="Foto de perfil" class="foto-perfil">
  <div class="nombre">{{ user.get_full_name|default:user.username }}</div>

  <!-- Datos -->
  <div class="perfil-datos">
    <ul>
      <li><span>Sede:</span> Melipilla</li>
      <li><span>Correo:</span> {{ user.email }}</li>
      <li><span>Rol:</span> {{ user.groups.first.name|default:"Usuario" }}</li>
      <li><span>Rut:</span> 20.567.786-3</li>
    </ul>
  </div>

  <!-- Botón Editar -->
  <button class="editar-btn">Editar</button>
</div>
{% endblock %}
