{% load static %}
<link rel="stylesheet" href="{% static 'css/siderbar.css' %}">


<nav class="sidebar" id="sidebar">
    <h2 class="titulo-sidebar">
        <img src="{% static 'Icon/sentibot.jpg' %}" alt="icono Sentibot" class="icono">
        Sentibot
    </h2>

    <a href="{% url 'camara' %}"><img src="{% static 'Icon/casa.gif' %}" alt="Inicio"> Inicio</a>
    <a href="{% url 'perfil' %}"><img src="{% static 'Icon/gente.gif' %}" alt="Perfil"> Perfil</a>
    <a href="{% url 'actividades' %}"><img src="{% static 'Icon/exito.gif' %}" alt="Actividades"> Actividades</a>
    <a href="{% url 'seguimiento' %}"><img src="{% static 'Icon/lista.gif' %}" alt="seguimiento"> seguimiento</a>
    <a href="{% url 'home' %}"><img src="{% static 'Icon/reserva.gif' %}" alt="Reserva"> Reserva</a>
    <a href="{% url 'lista_usuarios' %}"><img src="{% static 'Icon/contento.gif' %}" alt="Extras"> Usuarios</a>
    <a href="{% url 'camara' %}"><img src="{% static 'Icon/cerrar-sesion.gif' %}" alt="Cerrar sesión"> Cerrar sesión</a>
</nav>
