{% load static %}
<link rel="stylesheet" href="{% static 'css/siderbar.css' %}">


<nav class="sidebar" id="sidebar">
    <h2 class="titulo-sidebar">
        <img src="{% static 'Icon/senti.png' %}" alt="icono Sentibot" class="icono">
        Sentibot
    </h2>

    <a href="{% url 'camara' %}"><img src="{% static 'Icon/casa.png' %}" alt="Inicio"> Inicio</a>
    <a href="{% url 'perfil' %}"><img src="{% static 'Icon/user.png' %}" alt="Perfil"> Perfil</a>
    <a href="{% url 'actividades' %}"><img src="{% static 'Icon/ejercicio.png' %}" alt="Actividades"> Actividades</a>
    <a href="{% url 'seguimiento' %}"><img src="{% static 'Icon/resultados.png' %}" alt="seguimiento"> seguimiento</a>
    <a href="{% url 'modulo' %}"><img src="{% static 'Icon/lupa.png' %}" alt="modulo"> Módulo Psicóloga</a>
    <a href="{% url 'modulo_profesor' %}"><img src="{% static 'Icon/lupa.png' %}" alt="modulo_profesor">Modulo_profesor</a>
    <a href="{% url 'agenda' %}"><img src="{% static 'Icon/calendario.png' %}" alt="Agenda"> Agenda</a>
    <a href="{% url 'extra' %}"><img src="{% static 'Icon/feliz.png' %}" alt="Extras"> Emociones</a>
    <a href="{% url 'login' %}"><img src="{% static 'Icon/cierre.png' %}" alt="Cerrar sesión"> Cerrar sesión</a>
    <a href="{% url 'mantenimiento' %}"><img src="{% static 'Icon/reserva.png' %}" alt="Reserva"> Reserva</a>
    <a href="{% url 'mantenimiento' %}"><img src="{% static 'Icon/globo.png' %}" alt="Extras"> Extras</a>
    
</nav>
