{% load static %}
<link rel="stylesheet" href="{% static 'css/topbar.css' %}">

<div class="top-bar" id="topbar">
  <div class="top-left">
    <button id="btn-toggle-sidebar" class="btn btn-light">☰</button>
    <h1 class="h1-top-bar">Sentibot</h1>
    <h2 class="h2-top-bar">/ Tu amigo/a</h2>
  </div>

  <div class="top-right">
    <a href="#" class="btn-login">{{ user.email }}</a>
    
  </div>
</div>

<!-- Scripts globales -->
<script src="{% static 'js/sidebar.js' %}"></script>
<script src="{% static 'js/topbar.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% block scripts %}{% endblock %}
